// Import page-specific CSS files here.
@import "home";

.btn-primary {
  background-color:$dark-purple !important;
  border-color:$dark-purple !important;
  color: white;

  &:hover {
    background-color: $lighter-purple !important;
    border-color: $lighter-purple !important;
  }
}

// #header-request {
//   background-color: $semi-dark-green;
//   color: white;
// }

// #carouselExampleIndicators {
//   border:5px solid $lighter-green;
// }

// #map {
//   border:5px solid $lighter-green;
// }

// #dropdown-color {
//   background-color: $semi-dark-green;
// }

// #dropdown-font {
//   color: white;
// }
