.iti__flag {background-image: asset-url("flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: asset-url("flags@2x.png");}
}

.iti {
  display: block;
}
