.navbar-lewagon {
  justify-content: space-between !important;
  background:$dark-blue;
  font-family: Manrope;
  color:$white
}

.navbar-home {
  // position: absolute;
  // width: 100%;
  justify-content: space-between;
  background:transparent;
  transition: 0.5s background-color ease;
  font-family: Manrope;
  color:$white
}

.navbar-guide {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  background:transparent;
  font-family: Manrope;
  color:$white
}

.navbar-home-blue {
  justify-content: space-between;
  background:$dark-blue;
  font-family: Manrope;
  color:$white
}

// #brand {
//   color: $white;
//   font-weight: bold;
//   align-content: center;
// }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: $white;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

#query {
  background-color: $light-gray;
  color:$dark-blue;
}
